{% extends 'layouts/base.html.twig' %}

{% block title 'Log in!' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="h3 mt-4 mb-3 text-center">Please sign in</h1>
            <p class="text-center text-muted mb-4">Your pins are waiting for you!</p>
            <form method="post">
                {% if error %}
                    <div class="alert alert-error rounded mb-3" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="email" class="form-control" required autofocus>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control" required>
                </div>


                <div class="d-flex justify-content-between">
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" name="_remember_me" type="checkbox" id="remember_me">
                            <label class="form-check-label" for="remember_me">
                                remember me
                            </label>
                        </div>
                    </div>

                    <a href="{{ path('app_forgot_password_request') }}">Forgot Password?</a>
                </div>


                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="btn btn-lg btn-block btn-primary mb-4" type="submit">
                    Sign in
                </button>
                <p class="mt-4 text-center text-muted">You are not registered yet, don't worry! <a href="{{ path('app_register') }}"> Create your account</a></p>
            </form>
        </div>
    </div>
{% endblock %}
