{{ form_start(form) }}
{{ form_row(form.category) }}
<p class="createCat text-center mt-5 text-muted"style="font-size: 15px">If you not found category, you can it create here?
    <button class=" btn-dark rounded ml-3" style="height: 30px"><a style="text-decoration: none;color: white ; font-size: 10px" href="{{ path('app_category_create') }}" >Let's go!</a></button></p>
{{ form_row(form.imageFile) }}
{{ form_row(form.title) }}
{{ form_row(form.description) }}
<input type="submit" value="{{ submitButtonText ?? 'Create Pin' }}"class="btn btn-primary btn-block btn-lg mb-5" formnovalidate>
{{ form_end(form) }}