{% extends 'layouts/base.html.twig' %}

{% block title 'Edit Pin' ~ pin.id %}

{% block body %}
    <div class="row">
        <div>
            <button class="btn btn-dark "><a style="color: white; text-decoration: none" href="{{ path('app_pins_show', {id: pin.id}) }}">Go
                    Back</a></button>
        </div>
        <div class="col-md-6 mx-auto">
            <h1 class="h3 text-center mb-4 mt-3">Edit Pin {{ pin.title }}</h1>
            {{ include('pins/_form.html.twig', {submitButtonText: 'Update Pin'}) }}
        </div>
    </div>

{% endblock %}
