{% extends 'layouts/base.html.twig' %}

{% block title 'Find All the best pins on earth!' %}

{% block body %}
    {% if pins|length > 0 %}
    {# Creation d'une fonction dans une class d'extension permettant de mettre au singulier ou pluriel Pin en fonction du nombre d'éléments #}
        <h1 class="text-center text-muted h4 mt-1 mb-2">{{ pluralize(pins|length, 'Post') }}</h1>
        {% for row in pins|batch(3)%}
            <div class="row mb-2">
                    {% for pin in row %}
                        <div class="col-md-4 ">
                            <article class="bg-white rounded shadow pin">
                                <div class="text-center ">
                                    <h1 class="h5 title Cat">{{ pin.category.nameCategory}}</h1>
                                </div>
                                    <div class="mw-100 rounded-top overflow-hidden">
                                        <a href="{{ path('app_pins_show', {id: pin.id}) }}">
                                            <img class="image-index w-100" src="{{ (pin.imageName ? vich_uploader_asset(pin) : asset('build/image/placeholder.png'))
                                            | imagine_filter('squared_thumbnail_medium')}}" alt="{{pin.title}}" />
                                        </a>
                                    </div>
                                <h2 class="h5 pl-2 pt-2"><a class=" text-secondary text-decoration-none" href="{{ path('app_pins_show', {id: pin.id}) }}"><p class="overflow-title">{{ pin.title }}</p></a></h2>
                                <p class=" pl-3 pb-2 text-muted"><small>Submitted by {{pin.user.getFullName()}}</small></p>
                            </article>
                        </div>

                    {% endfor %}
            </div>
        {% endfor %}
    {% else %}
      <p class="mt-5 h1 text-center">No pins yet. <a href="{{ path('app_pin_create') }}">Create your Pin!</a> </p>
    {% endif %}
{% endblock %}
