{% extends 'layouts/base.html.twig' %}

{% block title pin.title %}

{% block body %}
    <div class="row">
        <div class="mb-0">
            <button class="btn btn-dark "><a style="color: white; text-decoration: none" href="{{ path('app_home', {id: pin.id}) }}">Go
                    Back</a></button>
        </div>
        <div class=".col-md-6 mx-auto">
            <article class="bg-white rounded shadow pin">
                <div class="mw-100 rounded-top overflow-hidden mt-3">
                        <img class="image-index w-100" src="{{ (pin.imageName ? vich_uploader_asset(pin) : asset('build/image/placeholder.png'))
                        | imagine_filter('squared_thumbnail_medium')}}" alt="{{pin.title}}" />
                </div>
                <p class=" pl-1  text-muted comment">
                    <small>Submitted <time datetime="{{ pin.createdAt|date('Y-m-d H:i:s') }}">{{ pin.createdAt|ago }}</time> by {{ pin.user.getFullName() }}</small>
                </p>
                <h1 class="h5 pl-2 text-secondary"><p class="overflow-title">{{ pin.title }}</p></h1>

                {# Description du pin #}
                <h5 class="titleDescription">Details: </h5><br>
                <p class="overflow-description pb-2">
                {{ pin.description }}
                </p>
               {% if((pin.owner == user) or (user.roles() == ['ROLE_ADMIN','ROLE_USER'])) %}
                <div class="pb-3 buttonEdit">
                    <a href="{{ path('app_pins_edit', {id: pin.id}) }}" class="btn btn-light">Edit</a>
                    {# lien delete qui recupère le form grace à son id #}
                    <a href="#" onclick="event.preventDefault();confirm('Are you sure delete the {{ pin.title }} ?')
                            && document.getElementById('js-pin-delete-form').submit();" class="btn btn-light">Delete</a>
                    {#
                    form qui sera pas affiché qui prend la methode POST initialement mais que je vais forcer en methode DELETE et
                    j'ajoute un champ caché qui est une securité csrf qui permet de généré un token pour securiser le formulaire
                    #}
                    <form id="js-pin-delete-form" action="{{ path('app_pins_delete', {id: pin.id}) }}" method="post" style="display: none;">
                        <input type="hidden" name="csrf_token" id="" value="{{ csrf_token('pin_deletion_' ~ pin.id) }}">
                        <input type="hidden" name="_method" value="DELETE">
                    </form>
                </div>
                {% endif %}
            </article>
        </div>
    </div>
{% endblock %}