{% extends 'layouts/base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flashError in app.flashes('error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="mt-5 mb-5 text-center">Reset your password</h1>

            {{ form_start(requestForm) }}
            <div class="form-group">
                {{ form_row(requestForm.email) }}
            </div>

            <div>
                <small class="text-muted">
                    Enter your email address and we we will send you a
                    link to reset your password.
                </small>
            </div>

            <button class="btn btn-primary btn-lg btn-block">Send password reset email</button>
            {{ form_end(requestForm) }}
        </div>
    </div>

{% endblock %}