{% extends 'layouts/base.html.twig' %}

{% block title 'Reset your password' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="mb-5 mt-4 text-center">Reset your password</h1>

            {{ form_start(resetForm) }}
            <div class="form-group">
                {{ form_row(resetForm.plainPassword) }}
            </div>
            <button class="btn btn-primary btn-block btn-lg mt-5 mb-4">Reset password</button>
            {{ form_end(resetForm) }}
        </div>
    </div>

{% endblock %}
