<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Panterest{% endblock %}</title>
        {% block stylesheets %}
          {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {{ include('layouts/partials/_flash_messages.html.twig') }}
    <div class="wrap">

        {{ include('layouts/partials/_nav.html.twig') }}

        <main role="main" class="container">
            {% block body %}{% endblock %}
        </main>
        <footer class="footer">
            {{ include('layouts/partials/_footer.html.twig') }}
        </footer>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </div>

    </body>
</html>
