{% extends 'layouts/base.html.twig' %}

{% block title 'Create your Category' %}

{% block body %}
<div class="container align-items-center">
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-dark "><a style="color: white; text-decoration: none" href="{{ path('app_pin_create') }}">Go Back</a></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="text-center mt-5 mb-5">Create your category</h1>
            {{ include('category/_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}

