{% extends 'layouts/base.html.twig' %}

{% block title 'Category' %}

{% block body %}
    <div class="row">
        <div class="container col-md-6 ">
            <div class="mx-auto mt-4 mb-5">
                <h1 class="h3 text-center mt-1 mb-3">List of Category</h1>
            </div>
            <table class="table table-hover table-dark mt-5">
                <thead>
                <tr class="text-center">
                    <th scope="col">Number</th>
                    <th scope="col">Category</th>
                </tr>
                </thead>
                {% for c in cat %}
                    <tbody>
                    <tr class="text-center">
                        <td>{{ c.id }}</td>
                        <td>{{ c.nameCategory }}</td>
                    </tr>
                    </tbody>

                {% endfor %}
            </table>

        </div>

    </div>

{% endblock %}