<div class="card text-center mt-5 fixed-bottom">

    <div class="card-body mt-0">
        <a href="{{ path('app_home') }}" class="btn btn-light mt-2 mb-1">Go Back Home</a>
    </div>
    <p>
        <small>
            &copy; {{ 'now'|date('Y') }} &middot;
            Built by David Devaure <a href="https://www.linkedin.com/in/daviddevaure"> My Profile</a>
        </small>
    </p>
</div>
