<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{{ path('app_home') }}">Picterest</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03"
                aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav ml-auto">
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_pin_create') }}">New Pin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('search_pin') }}">Search pin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('user_index') }}">Account</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="event.preventDefault(); document.getElementById('js-logout-form').submit();">Logout </a>
                    </li>
                    <form id="js-logout-form"  action="{{ path('app_logout') }}" method="POST" style="display: none;">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('logout') }}">
                    </form>

                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_app_list_user') }}">Admin</a>
                </li>
                {% endif %}
                {% if app.user %}
                    <div class=" row userLogged"> <img class="rounded" style="width:40px" src="{{ asset('build/image/profil.png')}}" alt="image logged">{{ app.user.fullName }}</div>
                {% endif %}
            </ul>
        </div>

    </div>

</nav>