@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "shared/variables";
@import "~bootstrap";
body {
    font-family: $primary-font, sans-serif;
    margin:0px;
    padding: 0px;
}
html, body {
    height: 100%;
}

/*Message flash*/
.alert {
    padding: 17px;
    color: white;
    text-align: center;
    margin: 0px;
    border: none;
    border-radius: 0;
}
.alert-success{
    background-color: #5cb85c;
    position: relative;
    top: 57px;
}
.alert-error{
    background-color: #d9534f;
    position: relative;
    top: 57px;
}
.alert-info{
    background-color:#0275d8;
    position: relative;
    top: 57px;
}
//Eviter le debordement du nom du fichier dans mon label

.custom-file-label{
    overflow: hidden;
    text-overflow: ellipsis;
}


.vich-image{

    .form-check{
        @extend .mt-3;
        color: #0275d8;
    }

    img{
        @extend .mb-2, .rounded, .shadow, .img-thumbnail;
    }
}

.image-index{
        @extend .rounded, .shadow, .img-thumbnail;
}

/*title cat*/
.titleCat {
    font-weight: 500;
    font-size: 20px;
    margin-top: 10px;
    padding-top: 4px;
    background: linear-gradient(to right, #000000, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*image pin*/
.pin img{
    transition: transform 0.3s ease-out;
    &:hover{
        transform: scale(1.075);
    }
}
/*Posted by*/
.comment {
    font-size: 10px;
    margin-left: 7px;
    margin-bottom: 8px;
}
/*Pin */
.overflow-title {
    width: 300px;
    overflow-wrap: anywhere;
    text-align: justify;
    margin: 1px 10px 8px 3px;
    font-size: 17px;
    background: linear-gradient(to right, #000000, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.titleDescription {
    font-size: 11px;
    margin-left: 10px;
    margin-top: 14px;
    margin-bottom: 2px;
    color:black;
    font-weight: 500;
}
.overflow-description{
    width: 300px;
    overflow-wrap: anywhere;
    text-align: justify;
    margin: -22px 10px 8px 10px;
    font-size: 12px;
    background: linear-gradient(to right, #000000, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*button edit*/
.buttonEdit{
    text-align: center;
}
/*Show details pin*/
.pinPosition{
    margin-top: 15px;
}


.wrap {
    height: auto;
    margin: 80px auto -80px; /* footer height + space */
    min-height: 100%;
    padding: 0 0 80px; /* footer height + space */
    box-sizing: border-box;
    overflow: auto;
}
.footer {
    height: 60px;  /* footer height */
    padding-top: 20px;
    display: block;
    margin-top: 20px; /* space between content and footer */
    box-sizing: border-box;
    position: relative;
    width: 100%;
}

/*card footer*/
.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0.25rem;
}

/*button account*/
.buttonAccount{
    font-size: 14px;
}

.titleAccount{
    float: left;
    font-size: 15px;
    margin-right: 5px;
    margin-left: 15px;
    color: #0275d8;
}

.paraField{
    padding: 0px;
    margin: 0px;
    font-size:15px;
}
/*UserLogged*/
.userLogged{
    color: black;
    font-weight:bolder;
    padding-left: 30px;
    margin-right: -50px;
}
.createCat{
    position: relative;
    margin-bottom: -35px;
    margin-top: 10px;
    top: -39px;

}
