<form method="post" action="{{ path('admin_user_delete_by_admin', {'id': user.id}) }}"
      onsubmit="return confirm('Are you sure you want to delete this account {{ user.fullName }}?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete_user' ~ user.id) }}">
    <button class="btn btn-dark">Delete</button>
</form>