{{form_start(userForm) }}
<h1 class="h3 text-center mb-4 mt-3">Edit User {{ user }}</h1>
{{ form_widget(userForm) }}
<input type="submit" value="{{ submitButtonText ?? 'Edit User' }}"class="btn btn-primary btn-block btn-lg mb-5" formnovalidate>
{{form_end(userForm) }}