{% extends 'layouts/base.html.twig' %}

{% block title 'Edit User'%}

{% block body %}
    <div class="col-md-6">
        <button class="btn btn-dark "><a style="color: white; text-decoration: none" href="{{ path('admin_app_list_user') }}">Go Back</a></button>
    </div>
    <div class="row">
        <div class="col-md-6 mx-auto">
          {{ include('admin/_form.html.twig') }}
        </div>
    </div>
{% endblock %}

