{% extends 'layouts/base.html.twig' %}

{% block title 'Users list' %}
{% block body %}
    <div class="row">
        <div class="container col-md-12 ">
            <div class="mx-auto mt-4 mb-5">
                <h1 class="h3 text-center mt-1 mb-3">List of Users</h1>
            </div>
            <table class="table table-hover table-dark mt-5">
                <thead>
                <tr class="text-center">
                    <th scope="col">Id</th>
                    <th scope="col">FirstName</th>
                    <th scope="col">LastName</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Pins number</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}

                    <tr class="text-center">
                        <td>{{ user.id }}</td>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            {% for role in user.roles %}
                                {% if role == "ROLE_USER" %}
                                User
                                {% elseif role == "ROLE_EDITOR" %}
                                Editor
                                {% elseif role == "ROLE_MODO" %}
                                Moderator
                                {% elseif role == "ROLE_ADMIN"%}
                                Admin
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ user.pins|length }}</td>
                        <td><button class="btn btn-dark btn-block"><a href="{{ path('admin_app_edit_user', {'id': user.id})}}" style="text-decoration: none">Edit</a></button></td>
                        <td>
                            {{ include('admin/_delete_user_form.html.twig') }}
                        </td>
                    </tr>
                    {% else %}
                    <p>Any users logged</p>
                {% endfor %}
                    </tbody>
            </table>
        </div>
    </div>

{% endblock %}

