{{form_start(searchForm) }}
    {{ form_widget(searchForm) }}
<input type="submit" value="{{ submitButtonText ?? 'Search Pin' }}"class="btn btn-primary btn-block btn-lg mb-5" formnovalidate>
{{form_end(searchForm) }}