{% extends 'layouts/base.html.twig' %}

{% block title 'Search Pin' %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-dark "><a style="color: white; text-decoration: none" href="{{ path('app_home') }}">Go Back</a></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="text-center mt-1 mb-3">Search Pin</h1>
            {{ include('search/_form.html.twig') }}
        </div>
    </div>
    {% if pins|length > 0 %}
        {# Creation d'une fonction dans une class d'extension permettant de mettre au singulier ou pluriel Pin en fonction du nombre d'éléments #}
        <h1 class="text-center text-muted h3 mt-2 mb-4">{{ pluralize(pins|length, 'Pin') }}</h1>
        {% for row in pins|batch(3)%}
            <div class="row mb-2">
                {% for pin in row %}
                    <div class="col-md-4 ">
                        <article class="bg-white rounded shadow pin ">
                            <div class="text-center ">
                                <h1 class="h5 titleCat">{{ pin.category.nameCategory}}</h1>
                            </div>
                            <div class="mw-100 rounded-top overflow-hidden">
                                <a href="{{ path('app_pins_show', {id: pin.id}) }}">
                                    <img class="image-index w-100" src="{{ (pin.imageName ? vich_uploader_asset(pin) : asset('build/image/placeholder.png'))
                                    | imagine_filter('squared_thumbnail_small')}}" alt="{{pin.title}}" />
                                </a>
                            </div>
                            <h2 class="h5 pl-2 pt-2"><a class=" text-secondary text-decoration-none" href="{{ path('app_pins_show', {id: pin.id}) }}"><p class="overflow-title">{{ pin.title }}</p></a></h2>
                            <p class=" pl-3 pb-2 text-muted"><small>Submitted by {{pin.user.getFullName()}}</small></p>
                        </article>
                    </div>

                {% endfor %}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}