{% extends 'layouts/base.html.twig' %}
{% block title 'Page not found' %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center mb-5">{{ status_text }}</h1>
            <div class="text-center ">
                <p class="mb-0"> Checkout for any URL misspelling or <button class="btn btn-dark"><a href="{{ path('app_home') }}" style="color: white;text-decoration: none">Back Homepage</a></button></p>
            </div>
            <img class="justify-content-center mt-0" src="{{ asset('build/image/error-404.jpg') }}" style="width: 600px">

    </div>


{% endblock %}