{% extends 'layouts/base.html.twig' %}
{% block title 'Not Authenticated' %}
{% block body %}
    <div class="row">
    <div class="col-sm-12">
        <h1 class="text-center mb-5">{{ status_text }}</h1>
        <div class="text-center ">
            <p class="mb-0">  You are not authenticated to access this page
                therefore <button class="btn btn-dark"><a href="{{ path('app_home') }}" style="color: white;text-decoration: none">Back Homepage</a></button></p>
        </div>
        <img class="mt-0" src="{{ asset('build/image/erreur-401.jpg') }}" style="width: 390px">

    </div>
{% endblock %}