{% extends 'layouts/base.html.twig' %}
{% block title 'Problem server' %}
{% block body %}
    <div class="row">
    <div class="col-sm-12">
        <h1 class="text-center mb-5">{{ status_text }}</h1>
        <div class="text-center ">
            <p class="mb-0">We're having a little server problem, we're sorry. See You Soon!</p>
        </div>
        <img class="mt-3 rounded shadow" src="{{ asset('build/image/error-500.jpg') }}" style="width: 480px">

    </div>
{% endblock %}