{% extends 'layouts/base.html.twig' %}
{% block title 'Gateway Timeout '  %}
{% block body %}
    <div class="row">
    <div class="col-sm-12">
        <h1 class="text-center mb-5">{{ status_text }}</h1>
        <div class="text-center ">
            <p class="mb-0">This request take a long time, you must verified your access internet therefore <button class="btn btn-dark"><a href="{{ path('app_home') }}" style="color: white;text-decoration: none">Back Homepage</a></button></p>
        </div>
        <img class="mt-3 rounded shadow" src="{{ asset('build/image/error-504.jpg') }}" style="width: 480px">

    </div>
{% endblock %}