{% extends 'layouts/base.html.twig' %}

{% block title 'Edit User' %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-dark "><a style="color: white; text-decoration: none" href="{{ path('user_index') }}">Go Back</a></button>
        </div>
    </div>
    <div class="mx-auto mt-4 mb-5">
        <h1 class="h3 text-center mt-1 mb-3">Edit User {{ user.fullName }}</h1>
    </div>
    <div class="row">
        <div class="col-md-6 mx-auto">
            {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
    </div>
<br>

{% endblock %}
