{% extends 'layouts/base.html.twig' %}

{% block title 'Account User' %}

{% block body %}
    <div class="row">
            <div class="col-md-7 mx-auto">
                <article class="bg-white rounded shadow pin">
                    {% if users != null %}
                    <div class="text-center mt-5">
                        <h1 class="h4  pt-3 mb-3 ml-auto" style="color:#0275d8;">Welcome {{ users.fullName }}</h1>

                        {% if users.roles == ["ROLE_ADMIN", "ROLE_USER"]%}
                        <img src="{{ app.user.avatar }}"class="shadow rounded-circle" >
                        {% endif %}
                    </div>


                        <div class="mw-100 rounded-top overflow-hidden mb-2">
                        <h2 class="h4 titleAccount" >FirstName :</h2> <p class="paraField" >{{ users.firstName }}</p><br>
                        <h2 class="h4 titleAccount">LastName :</h2> <p class="paraField">{{ users.lastName }}</p><br>
                        <h2 class="h4 titleAccount">Email :</h2> <p class="paraField">{{ users.email }}</p><br>
                        <h2 class="h4 titleAccount">CreatedAt :</h2> <p class="paraField">{{ users.createdAt ? users.createdAt|date('Y-m-d') : '' }}</p><br>
                        <h2 class="h4 titleAccount">UpdatedAt :</h2> <p class="paraField">{{ users.updatedAt ? users.updatedAt|date('Y-m-d') : '' }}</p><br>
                    </div>
                    <div class="pb-3 buttonEdit">
                        <a href="{{ path('user_edit', {'id': users.id}) }}" class="btn btn-light">Edit</a>
                        <a href="{{ path('user_delete', {'id': users.id}) }}" class="btn btn-light">Delete</a>
                        <a href="{{ path('list_pin_account',{'id': users.id}) }}" class="btn btn-light">Show Pins</a>
                    </div>
                    {% else %}
                    <div class="text-center mt-5">
                        <h1 class="h3 text-center pt-5" style="color:#0275d8">no records found</h1>
                    </div>
                    {% endif %}
                </article>
            </div>
    </div>
{% endblock %}
