{% extends 'layouts/base.html.twig' %}

{% block title 'List Pins' %}

{% block body %}
    <div class="row mt-0">
        <div class="col-md-12">
            <button class="btn btn-dark "><a style="color: white; text-decoration: none" href="{{ path('user_index') }}">Back to list</a></button>
        </div>
    </div>
    {% if pins|length > 0 %}
        {# Creation d'une fonction dans une class d'extension permettant de mettre au singulier ou pluriel Pin en fonction du nombre d'éléments #}
        <h1 class="text-center text-muted h3 ">{{ pluralize(pins|length, 'Pin') }}</h1>
        {% for row in pins|batch(3)%}
            <div class="row" style="margin-top: -10px">
                {% for pin in row %}
                    <div class="col-md-4 ">
                        <article class="bg-white rounded shadow pin ">
                            <div class="text-center ">
                                <h1 class="h5 titleCat">{{ pin.category.nameCategory}}</h1>
                            </div>
                            <div class="mw-100 rounded-top overflow-hidden">
                                <a href="{{ path('app_pins_show', {id: pin.id}) }}">
                                    <img class="image-index w-100" src="{{ (pin.imageName ? vich_uploader_asset(pin) : asset('build/image/placeholder.png'))
                                    | imagine_filter('squared_thumbnail_small')}}" alt="{{pin.title}}" />
                                </a>
                            </div>
                            <h2 class="h5 pl-2 pt-2"><a class=" text-secondary text-decoration-none" href="{{ path('app_pins_show', {id: pin.id}) }}"><p class="overflow-title">{{ pin.title }}</p></a></h2>
                            <p class=" pl-3 pb-2 text-muted"><small>Submitted by {{pin.user.getFullName()}}</small></p>
                        </article>
                    </div>

                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        <p class="mt-5 h1 text-center">No pins yet. <a href="{{ path('app_pin_create') }}">Create your Pin!</a> </p>
    {% endif %}
{% endblock %}