{% extends 'layouts/base.html.twig' %}

{% block title 'Delete Acoount User' %}

{% block body %}
    <button class="btn btn-dark" ><a style="color: white;text-decoration: none" href="{{ path('user_index') }}">Go Back</a></button>
    <div class="row mb-2">
        <div class="col-md-12 ">
            <article class="bg-white rounded shadow pin ">
                {% if user != null %}
                    <div class="text-center mt-5 pt-4">
                        <h1 class="h3 text-center " style="color:#0275d8">Account {{ user.fullName }} </h1>
                    </div>
                    <div class="mw-100 rounded-top overflow-hidden">
                        <h2 class="h5 titleAccount" >FirstName :</h2> <p class="paraField" >{{ user.firstName }}</p><br>
                        <h2 class="h5 titleAccount">LastName :</h2> <p class="paraField">{{ user.lastName }}</p><br>
                        <h2 class="h5 titleAccount">Email :</h2> <p class="paraField">{{ user.email }}</p><br>
                        <h2 class="h5 titleAccount">CreatedAt :</h2> <p class="paraField">{{ user.createdAt ? user.createdAt|date('Y-m-d') : '' }}</p><br>
                        <h2 class="h5 titleAccount">UpdatedAt :</h2> <p class="paraField">{{ user.updatedAt ? user.updatedAt|date('Y-m-d') : '' }}</p><br>
                    </div>
                    <div class="pb-3 buttonEdit">
                        <div class="btn btn-link" >{{ include('user/_delete_form.html.twig') }}</div>
                    </div>
                {% else %}
                    <div class="text-center mt-5">
                        <h1 class="h3 text-center pt-5" style="color:#0275d8">no records found</h1>
                    </div>
                {% endif %}
            </article>
        </div>
    </div>


{% endblock %}
